.primary-image
  img(src="##coverprime##")
.primary-content
  .cover
    img(src="##cover##")
  ul.features
    li ##title##
    li ##genres##
    li ##score##
    li ##lang##
    li ##runtime##
  .description ##description##
    
    
